@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* For AppBar */
html,
body {
  background-color: transparent;
  height: 100%;
}

body {
  margin: 0;
}

#root {
  height: 100%;
}

.preview.markdown-body {
  flex: 0 0 50%;
  color: #abb2bf !important;
  padding: 12px;
}

.preview.markdown-body pre {
  background-color: rgba(27, 31, 35, 0.45);
}

.editor-wrap {
  flex: 0 0 50%;
}
